#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .left-side {
    width: 250px;
    height: 360px;
}

#about .right-side {
    width: 100%;
}

#about .right-side h2 {
    letter-spacing: 0.15rem;
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 10px;
}

#about .left-side .about-img {
    height: 100%;
    width: 100%;
    position: relative;
    border: 10px solid white;
}

#about .left-side .about-img::after {
    /* from YouTube */
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid #f498b8;
    z-index: -1;
}

@media only screen and (min-width: 768px) {

    /* About */
    #about .about {
        flex-direction: row;
    }

    #about .col-left {
        width: 600px;
        height: 400px;
        padding-left: 60px;
    }

    #about .about .col-left .about-img::after {
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid crimson;
    }

    #about .col-right {
        text-align: left;
        padding: 30px;
    }

    #about .col-right h1 {
        text-align: left;
    }

    /* End About */
}